.footer {
  @include max-width;
  position: relative;
  bottom: 0;
  left: auto;
  right: auto;
  background-color: $cornsilk;
  width: 100%;
  @include flex(column, space-between, center);
  padding: 0 calcRem(30px) calcRem(5px);
  z-index: 0;
  @include bp(tablet-sm-up) {
    @include flex(row, space-between, center);
    padding-bottom: calcRem(20px);
  }

  &--fixed {
    @extend .footer;
    position: fixed;
  }

  &__copyright {
    color: $text-light-gray;
    font-size: calcRem(12px);
    font-family: $heebo-regular;
    @include bp(tablet-sm-up) {
      font-size: calcRem(13px);
    }

    &__english {
      font-family: $pp-semibold;
    }
    &__korean {
      font-family: $bc-bold;
    }
  }
}
