.footer {
  @include max-width;
  position: relative;
  bottom: 0;
  left: auto;
  right: auto;
  background-color: $cornsilk;
  width: 100%;
  @include flex(column, space-between, center);
  padding: 0 calcRem(30px) calcRem(5px);
  z-index: 0;
  @include bp(tablet-sm-up) {
    @include flex(row, space-between, center);
    padding-bottom: calcRem(20px);
  }

  &--fixed {
    @extend .footer;
    position: fixed;
  }

  .switch {
    @include flex(row);
    color: $text-black;
    font-size: calcRem(17px);
    cursor: default;

    &__slash {
      margin: 0 calcRem(10px);
    }
    &__en {
      font-family: $heebo-regular;
      font-weight: 700;
      padding: calcRem(5px);
      cursor: pointer;
      transition: color 0.2s ease;
      &--active {
        font-family: $heebo-regular;
        font-weight: normal;
        padding: calcRem(5px);
        color: $coral-red;
        transition: color 0.2s ease;
      }
    }
    &__kr {
      font-family: $heebo-regular;
      font-weight: 700;
      padding: calcRem(5px);
      cursor: pointer;
      transition: color 0.2s ease;
      &--active {
        font-family: $heebo-regular;
        font-weight: normal;
        padding: calcRem(5px);
        color: $coral-red;
        transition: color 0.2s ease;
      }
    }
  }

  &__copyright {
    color: $text-light-gray;
    font-size: calcRem(12px);
    font-family: $heebo-regular;
    @include bp(tablet-sm-up) {
      font-size: calcRem(13px);
    }

    &__english {
      font-family: $pp-semibold;
    }
    &__korean {
      font-family: $bc-bold;
    }
  }
}
