.home {
  @include flex();
  height: 100%;

  &__content-container {
    padding: 0 calcRem(7px);
    @include bp(mobile-lg-up) {
      padding: 0 calcRem(10px);
    }
  }

  &__english-container {
    color: $text-dark-gray;
    .english {
      &-greeting {
        margin-bottom: calcRem(30px);
        @include fontSize(25px);
        font-family: $pp-regular;
        @include lineHeight(25px, 25px);
        @include bp(tablet-sm-up) {
          margin-bottom: calcRem(20px);
          @include fontSize(35px);
          @include lineHeight(35px, 35px);
        }
      }
      &-name {
        @include fontSize(36px);
        font-family: $pp-regular;
        @include lineHeight(36px, 40px);
        @include bp(tablet-sm-up) {
          @include fontSize(70px);
          @include lineHeight(70px, 75px);
        }
        &__david {
          @include fontSize(39px);
          font-family: $pp-semibold;
          color: $text-black;
          display: inline-block;
          position: relative;
          z-index: 0; // This is needed because of the redline being a z-index of -1
          @include bp(tablet-sm-up) {
            @include fontSize(70px);
          }
          a {
            color: $text-black;
            transition: color 0.15s cubic-bezier(0.77, 0.14, 0.71, 0.19) 0.15s;
            &:hover {
              color: $cornsilk;
              & ~ .red-line {
                height: 95%;
              }
            }
          }
          .red-line {
            @include red-line;
            height: calcRem(13px);
            bottom: calcRem(4px);
            @include bp(tablet-sm-up) {
              height: calcRem(20px);
              bottom: calcRem(6px);
            }
          }
        }
      }
      &-title {
        @include fontSize(32px);
        font-family: $pp-regular;
        @include lineHeight(32px, 36px);
        @include bp(tablet-sm-up) {
          @include fontSize(50px);
          @include lineHeight(50px, 55px);
        }
        &__fe {
          @include fontSize(30px);
          font-family: $pp-semibold;
          color: $text-black;
          position: relative;
          @include bp(tablet-sm-up) {
            @include fontSize(62px);
          }
          .red-circle {
            width: calcRem(12px);
            height: calcRem(12px);
            background-color: $coral-red;
            border-radius: 50%;
            position: absolute;
            bottom: calcRem(5px);
            @include bp(tablet-sm-up) {
              width: calcRem(18px);
              height: calcRem(18px);
              bottom: calcRem(20px);
              animation: enBounce 0.8s ease-in-out infinite;
            }
          }
        }
      }
    }
  }

  &__korean-container {
    color: $text-dark-gray;
    .korean {
      &-greeting {
        margin-bottom: calcRem(30px);
        @include fontSize(25px);
        font-family: $bc-light;
        @include bp(tablet-sm-up) {
          margin-bottom: calcRem(20px);
          @include fontSize(35px);
        }
      }
      &-name {
        @include fontSize(30px);
        font-family: $bc-light;
        @include lineHeight(30px, 38px);
        @include bp(tablet-sm-up) {
          @include fontSize(50px);
          @include lineHeight(50px, 60px);
        }
        &__david {
          @include fontSize(35px);
          font-family: $bc-bold;
          color: $text-black;
          display: inline-block;
          position: relative;
          z-index: 0; // This is needed because of the redline being a z-index of -1
          @include bp(tablet-sm-up) {
            @include fontSize(55px);
          }
          a {
            color: $text-black;
            transition: color 0.15s cubic-bezier(0.77, 0.14, 0.71, 0.19) 0.15s;
            &:hover {
              color: $cornsilk;
              & ~ .red-line {
                height: 95%;
              }
            }
          }
          .red-line {
            @include red-line;
            height: calcRem(12px);
            bottom: calcRem(3px);
            @include bp(tablet-sm-up) {
              height: calcRem(15px);
              bottom: calcRem(3px);
            }
          }
        }
      }
      &-title {
        @include fontSize(35px);
        font-family: $bc-light;
        @include lineHeight(35px, 42px);
        @include bp(tablet-sm-up) {
          @include fontSize(70px);
          @include lineHeight(70px, 80px);
        }
        &__fe {
          @include fontSize(39px);
          font-family: $bc-bold;
          color: $text-black;
          position: relative;
          @include bp(tablet-sm-up) {
            @include fontSize(75px);
          }
          .red-circle {
            width: calcRem(13px);
            height: calcRem(13px);
            background-color: $coral-red;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            @include bp(tablet-sm-up) {
              width: calcRem(20px);
              height: calcRem(20px);
              bottom: calcRem(10px);
              animation: krBounce 0.8s ease-in-out infinite;
            }
          }
        }
      }
    }
  }

  &__message-container {
    margin-top: calcRem(30px);
    @include bp(tablet-sm-up) {
      margin-top: calcRem(20px);
    }

    .english-message,
    .korean-message,
    .hustle {
      text-align: right;
      color: $text-dark-gray;
      font-size: calcRem(14px);
      @include lineHeight(14px, 18px);
      @include bp(tablet-sm-up) {
        font-size: calcRem(16px);
        @include lineHeight(16px, 20px);
      }
    }
    .english-message {
      font-family: $heebo-regular;
      color: $text-dark-gray;
    }
    .korean-message {
      font-family: $gm-medium;
      color: $text-dark-gray;
    }
    .hustle {
      font-family: $heebo-regular;
      color: $text-dark-gray;
    }
  }
}

@keyframes enBounce {
  10% {
    width: 18px;
    height: 18px;
  }
  50% {
    width: 22px;
    height: 15px;
    transform: translateY((100%));
  }
}
@keyframes krBounce {
  10% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 24px;
    height: 16px;
    transform: translateY((100%));
  }
}
