.header {
  @include max-width;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  margin: calcRem(30px) auto 0 auto;
  padding: 0 calcRem(30px);
  z-index: 1;

  .nav {
    @include flex(row, space-between, flex-end);

    &__logo {
      a {
        color: $text-dark-gray;
        font-family: $pp-semibold;
        font-size: calcRem(30px);
        @include lineHeight(30px, 30px);
        transition: color 0.15s ease-in;
        &:hover {
          color: $coral-red;
        }
      }
    }

    &__list-container {
      @include flex(column);
      @include bp(tablet-sm-up) {
        @include flex(row);
      }
      li {
        color: $text-dark-gray;
        &:nth-child(2) {
          margin: 0 calcRem(23px);
        }
      }
    }

    &__item {
      position: relative;
      a {
        color: $text-dark-gray;
        font-family: $pp-regular;
        font-size: calcRem(18px);
        @include lineHeight(18px, 18px);
        transition: color 0.1s ease-in 0.15s;
        &:hover {
          color: $cornsilk;
          & ~ .red-line {
            height: 100%;
            width: 110%;
            left: -5%;
          }
        }
      }
      .red-line {
        @include red-line;
        height: 0;
        bottom: 0;
      }
    }
  }
}
