.switch {
  @include flex(row);
  color: $text-black;
  font-size: calcRem(15px);
  cursor: default;

  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }

  .toggle {
    height: calcRem(26px);
    width: calcRem(46px);
    border-radius: calcRem(15px);
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid $text-light-gray;
    background-color: transparent;
    transition: all 0.2s ease;
    &:after {
      content: "en";
      @include flex();
      position: absolute;
      top: 1px;
      left: 1px;
      width: calcRem(20px);
      height: calcRem(20px);
      border-radius: 50%;
      color: $cornsilk;
      background-color: $coral-red;
      box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
      transition: all 0.2s cubic-bezier(0.77, 0.14, 0.71, 0.19);
    }
    &:checked {
      &:after {
        content: "kr";
        transform: translatex(20px);
      }
    }
  }
}

.lottie-container {
  margin-bottom: calcRem(40px);
  > div {
    max-width: calcRem(200px);
    max-height: calcRem(200px);
    @include bp(tablet-sm-up) {
      max-width: calcRem(300px);
      max-height: calcRem(300px);
    }
  }
}

.social-contact {
  max-width: calcRem(600px);
  margin: 0 auto;
  &__container {
    @include flex(row, center, center);
    a {
      @include flex();
      width: calcRem(55px);
      color: $text-dark-gray;
      font-family: $bc-bold;
      @include bp(tablet-sm-up) {
        width: calcRem(100px);
      }
      &:nth-child(2) {
        margin: 0 calcRem(30px);
      }
      &:hover {
        > svg {
          color: $coral-red;
        }
        > span {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }
      }
      svg {
        width: calcRem(30px);
        height: 100%;
        transition: all 0.2s cubic-bezier(0.48, 0.06, 0.48, 0.06);
        @include bp(tablet-sm-up) {
          width: calcRem(35px);
        }
      }
      span {
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s cubic-bezier(0.77, 0.14, 0.71, 0.19) 0.1s;
      }
    }
  }
}
