.works {
  padding: calcRem(80px) 0 calcRem(30px);

  &__projects-container {
    @include flex(row);
    flex-wrap: wrap;
    max-width: calcRem(1000px);
    margin: calcRem(60px) auto 0;
    @include bp(desktop-sm-up) {
      @include flex(row, flex-start);
    }
    .project {
      margin: calcRem(10px) calcRem(25px) calcRem(25px);
      a {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        border-radius: calcRem(5px);
        font-size: calcRem(15px);
        &:hover {
          & span {
            transform: translateY(2px);
          }
        }
        @include bp(tablet-sm-up) {
          width: calcRem(280px);
        }
        > img {
          width: 100%;
          @include bp(tablet-sm-up) {
            max-width: calcRem(280px);
            max-height: calcRem(150px);
          }
        }
        > span {
          @include flex(row, space-between);
          width: 100%;
          margin-top: calcRem(10px);
          padding: 0 calcRem(5px);
          color: $text-black;
          font-family: $heebo-regular;
          transition: all 0.2s ease;
          > span {
            &:last-of-type {
              font-size: calcRem(12px);
            }
          }
        }
      }
    }
  }
}

// - project pages
.project-page {
  @include flex(column, flex-start);
  height: 100%;

  &__detail {
    max-width: calcRem(650px);
    padding: calcRem(100px) calcRem(10px) 0;
    margin-bottom: calcRem(50px);
    @include bp(desktop-sm-up) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }

    .button {
      @include flex(row);
      float: right;
      margin-right: calcRem(20px);
      background: none;
      border: none;
      font-family: $heebo-regular;
      padding: 0;
      cursor: pointer;
      @include bp(tablet-sm-up) {
        margin-right: 0;
      }
      &:hover > svg {
        transform: translateX(-5px);
      }
      > svg {
        width: calcRem(25px);
        height: 100%;
        margin-right: calcRem(5px);
        transition: all 0.2s cubic-bezier(0.77, 0.14, 0.71, 0.19);
      }
    }
    .image {
      display: inline-block;
      width: 100%;
      margin: calcRem(10px) auto calcRem(30px);
      img {
        width: 100%;
      }
    }
    .title {
      width: 100%;
      margin-bottom: calcRem(15px);
      padding: 0 calcRem(5px) calcRem(10px);
      border-bottom: 1px solid $text-lighter-gray;
      > a {
        font-size: calcRem(20px);
        color: $text-black;
        font-family: $heebo-regular;
      }
    }
    .description {
      width: 100%;
      padding: 0 calcRem(5px);
      font-family: $pp-regular;
      font-size: calcRem(15px);
      @include lineHeight(15px, 25px);
      color: $text-dark-gray;
      > a {
        display: inline-block;
        position: relative;
        color: $text-dark-gray;
        z-index: 0;
        transition: color 0.15s cubic-bezier(0.77, 0.14, 0.71, 0.19) 0.1s;
        &:hover {
          color: $cornsilk;
          & .red-line {
            height: 100%;
          }
        }
        > svg {
          vertical-align: middle;
        }
        .red-line {
          @include red-line;
          height: calcRem(1px);
          bottom: 0;
        }
      }
    }
    .stacks-container {
      @include flex(row, flex-start, flex-end);
      margin-top: calcRem(10px);
      margin-bottom: calcRem(20px);
      padding: 0 calcRem(5px);
      color: $text-dark-gray;
      font-family: $pp-regular;
      font-size: calcRem(14px);
      .stacks-logo {
        @include flex();
        margin-right: calcRem(5px);
        font-size: calcRem(12px);
        color: $text-dark-gray;
        background-color: $text-lighter-gray;
        border-radius: 12px;
        padding: 2px 8px;
        @include bp(tablet-sm-up) {
          margin-right: calcRem(10px);
        }
        svg {
          font-size: calcRem(20px);
        }
      }
    }
  }
}
