.works {
  padding: calcRem(80px) 0 calcRem(30px);
  &__projects-container {
    max-width: 600px;
    margin: 0 auto;
    // .production {
    // }

    // .personal {
    // }

    .project {
      a {
        @include flex();
        width: 300px;
        height: 230px;
        border-radius: calcRem(20px);
        color: $text-black;
        font-family: $bc-bold;
      }
      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }
}
